---

---

<div class="container">
	<slot />
</div>

<style lang="scss">
	.container {
		position: relative;
		z-index: 9;

		@include des {
			width: d(1164);
			margin: 0 auto;
		}

		@include tab {
			width: 100%;
			padding: 0 t(138);
		}

		@include mob {
			width: 100%;
			padding: 0 m(32);
		}
	}
</style>
